@mixin backImage($image, $height: 500px) {
    background: 
         linear-gradient(to bottom,
         rgba(0,0,0,0),
         rgba(0,0,0,.6)),
         url($image);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: $height;
}

@mixin clearfix {
    &:before, &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin imageGrid($qty, $margin) {
    width: ((100% - (($qty - 1) * $margin )) / $qty);
    &:nth-child(n) { //all the columns
        margin-bottom: $margin;
        margin-right: $margin;
    }
    &:nth-child(#{$qty}n) { //just the last item in the grid 
        margin-bottom: 0;
        margin-right: 0;
    }
}

@mixin break($args...) {
    @if length($args) == 1 {
        @media (min-width: nth($args, 1)) {
            @content;
        }  
    } 

    @if length($args) == 2 { //or else
        @media (min-width: nth($args, 1)) and 
               (max-width: nth($args, 2)) {
            @content;
        }  
    } 
}
