@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab&family=Oswald&display=swap');


$background:    #EEE8D6;
$text-color:    #022933;
$darkblue:      #001E25;
$red:           #d14348;
$blue:          #0076A3;
$yellow:        #ffba00;
$green:         #548C27;
$purple:        #6D73C2;
$orange:        #F39856;


$font-body:     'Hepta Slab';
$font-headings: Oswald, helvetica, sans-serif;

$color-item-border: $red; 
$color-media-head: $blue;